.heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center; 
  font-family: 'Bold';
  font-size: 50px;
  background: linear-gradient(to right, #2793f2, #f20cb5) text;
  -webkit-text-fill-color: transparent;
  
}

.text-content {
  margin: 0 auto;
  color: aliceblue;
  position: absolute; 
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 20px; 
  border: 4px solid#2793f2;
  box-shadow: 0px 0px 50px rgba(112, 0, 143, 0.993); 
  border-radius: 30px; 
  cursor: pointer;
}

.text-content p {
  position: relative; 
  top: 4vh;
  transform: translateY(-50%);
  font-family: 'Arial', sans-serif;
  line-height: 1.9;
  font-size: 18px;
  text-align: center;
}
 

.social-media-container {
  position: fixed;
  bottom: 0;
  left: 20px;
  margin-bottom: 20px;
}

.social-media-button {
  display: inline-block;
  margin: 0 10px; 
}

.social-media-icon {
  width: 27px; 
  filter: invert(100%) brightness(100%) sepia(0%) saturate(100%) hue-rotate(0deg);

}

.social-media-link {
  text-decoration: none; 
}


.social-media-button:hover {
  transform: scale(1.1);
}

.social-media-icon:active {
  padding: 1px;
}
