
.order-container {
  margin: 10% 6%;
}

.order {
  color: #f7f5f5;
  border: 2px solid#2793f2;  padding: 20px;
  box-shadow: 0px 0px 50px rgba(112, 0, 143, 0.993); 
  width: 30vh;
  text-align: center;
  margin-left: 70vh;
  margin-top:10vh;
  border-radius: 20px;
}

.order h3 {
  color: #f20cb5;
}

.order h4 {
  border-bottom: 1px solid #f20cb5;
  padding-bottom: 20px; /* Lisa veidi polstrit joone ja teksti vahele */
}

.radio-container {
  display: flex;
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  width: 30vh;
  margin-left: 70vh;
  margin-top:10vh;
  border: 2px solid#2793f2;
  box-shadow: 0px 0px 50px rgba(112, 0, 143, 0.993); 
}

.radio {
 margin: 0 10px;
 }

.order_1 {
  margin-left: 20px;
  font-size: 18px;
  color: #f20cb5;
  cursor: pointer;
 }
 
.order_1:hover {
  color: #2793f2; /* Värvi muutus hõljumise ajal */
 }

.pay_button {
  color: #1a1919;
  margin-top: 5vh;
  margin-left: 79vh;
  background-color: #000000;
  border-color: #f20cb5;
  border-radius: 20px;
  color: #f7f5f5;;
  padding: 8px 50px;
  }
.pay_button:hover {
  color: rgb(39, 146, 242);
  border-color: rgb(39, 146, 242) ;
   }
  
  
  